/* Global */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
:root {
  /* App Color */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-pink);
  --color-text: var(--color-white);
  --color-text-variant: var(--color-ivory);
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #4b82f5;
  --color-pink: #ff85ae;
  --color-gray: #4b4b4b;
  --color-ivory: #eaeaea;

  /* Size */
  --size-max-width: 1280px;
}
* {
  box-sizing: border-box;
}
html,
body {
  min-width: 370px;
  scroll-behavior: smooth;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}
body {
  margin: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
p,
strong,
ul,
figure {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
input {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: var(--color-primary);
  display: inline-block;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  display: inline-block;
}
/* common */
.section {
  padding: 0 3.3rem;
}
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}
.title {
  display: block;
  font-size: 2.3rem;
  font-weight: 500;
  margin-top: 5rem;
  padding: 3rem 0;
  color: var(--color-accent);
  text-align: center;
  cursor: default;
  white-space: nowrap;
}
.title:before,
.title:after {
  content: "";
  display: block;
  margin: auto;
}
.description {
  font-size: 1.2rem;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
  color: var(--color-primary-variant);
}
/* 화살표버튼 */
.arrow_btn_left,
.arrow_btn_right {
  display: inline-block;
  width: 33px;
  height: 33px;
}
.arrow_btn_left {
  transform: translateX(-50px);
}
.arrow_btn_right {
  transform: translateX(50px);
}
.arrow_btn_svg {
  height: 100%;
  width: 100%;
  fill: var(--color-primary-variant);
}
