/* Global */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
:root {
  /* App Color */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-pink);
  --color-text: var(--color-white);
  --color-text-variant: var(--color-ivory);
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #4b82f5;
  --color-pink: #ff85ae;
  --color-gray: #4b4b4b;
  --color-ivory: #eaeaea;

  /* Size */
  --size-max-width: 1280px;
}
* {
  box-sizing: border-box;
}
html,
body {
  min-width: 370px;
  scroll-behavior: smooth;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}
body {
  margin: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
p,
strong,
ul,
figure {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
input {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: var(--color-primary);
  display: inline-block;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  display: inline-block;
}
/* common */
.section {
  padding: 0 3.3rem;
}
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}
.title {
  display: block;
  font-size: 2.3rem;
  font-weight: 500;
  margin-top: 5rem;
  padding: 3rem 0;
  color: var(--color-accent);
  text-align: center;
  cursor: default;
  white-space: nowrap;
}
.title:before,
.title:after {
  content: "";
  display: block;
  margin: auto;
}
.description {
  font-size: 1.2rem;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
  color: var(--color-primary-variant);
}
/* 화살표버튼 */
.arrow_btn_left,
.arrow_btn_right {
  display: inline-block;
  width: 33px;
  height: 33px;
}
.arrow_btn_left {
  transform: translateX(-50px);
}
.arrow_btn_right {
  transform: translateX(45px);
}
.arrow_btn_svg {
  height: 100%;
  width: 100%;
  fill: var(--color-primary-variant);
}
/* header */
#header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
  transition: all 0.5s ease;
  background: transparent;
}
#header.active {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 225, 235, 1)
  );
  box-shadow: 0 2px 5px 0 rgba(42, 48, 133, 0.2);
}

.header,
.header2 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.header2 {
  z-index: 12;
}
.header2.active {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 225, 235, 0.1)
  );
}
.delivery {
  display: flex;
  color: var(--color-primary-variant);
  cursor: pointer;
  font-size: 0.8rem;
  animation: slideleft 1.5s linear 0.3s 1 both running,
    moving 1.8s linear 2s infinite alternate;
}
.delivery_content {
  margin-right: 0.6rem;
}
.delivery_content_img {
  width: 70px;
}
#logo {
  display: block;
  padding: 14px;
}
.logo_img {
  width: 51px;
  height: 55px;
}
#header_icons {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
.header_icon {
  color: var(--color-primary-variant);
}
.menu_icon {
  display: none;
}
/* nav */
#nav {
  width: 100%;
  margin: 0 auto;
}
.navi {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.navi_list {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-align: center;
}
.navi_list_txt {
  display: block;
  color: var(--color-primary-variant);
  transition: all 0.3s ease;
  font-size: 17px;
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 8px 0 8px 0;
  position: relative;
}
.navi_list_txt:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  border-radius: 10px;
  background: var(--color-accent-variant);
  transition: 0.6s ease;
}

.navi_list:hover .navi_list_txt:before {
  width: 100%;
}

/* 펼쳐지는 메뉴 */
.navi_wrap {
  width: 100%;
  display: none;
}
.navi_wrap ul {
  padding: 0.5rem 0 4rem 0;
}
.navi_wrap_list_txt {
  color: var(--color-primary-variant);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.navi_list_txt:hover,
.navi_wrap_list_txt:hover {
  color: var(--color-accent-variant);
}
/*main image */
#main {
}
#main_container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 225, 235, 1)
  );
}
.main_background {
  width: 100%;
  height: 100%;
}
.main_contents {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.main_content {
  width: 100%;
  margin-top: 145px;
  overflow: hidden;
}
.main_content1 {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding-top: 3rem;
}
.main_content_title {
  font-size: 2.2rem;
  color: var(--color-accent);
  margin-bottom: 2rem;
}
.main_content_txt1,
.main_content_txt2 {
  line-height: 170%;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: var(--color-primary-variant);
  font-weight: 500;
}
.main_content2 {
  max-height: 70vh;
  flex: 1.6;
  border-radius: 23px 0px 23px 0;
  box-shadow: 0 8px 20px 0 rgba(42, 48, 133, 0.37);
  overflow: hidden;
}
.main_video {
  width: 100%;
  height: 100%;
  margin-bottom: -5px;
  object-fit: cover;
  border-radius: 23px 0px 23px 0;
}
/* greek product */
#grk_menu {
  width: 100%;
  margin: auto;
}
.grk_menu_title {
  color: var(--color-accent);
  padding-bottom: 2rem;
}
.grk_menu_title::before,
.grk_menu_title::after {
  width: 380px;
  height: 2px;
  background: var(--color-accent);
}
.grk_menu_wrap {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.grk_menu_wrap_list:hover > a {
  transition: all 0.3s;
  color: var(--color-primary-variant);
}
.grk_menu_wrap_list:hover > a {
  color: var(--color-accent);
}
/* yogurt */
#menu_container {
  width: 100%;
  height: 100%;
  position: relative;
}
/* 화살표버튼 */
#menu_arrow_btn {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.yogurt {
  width: 100%;
  overflow: hidden;
}
.menu_inr_container {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.menu_frame {
  flex: 1 0 25.4%;
  padding: 0 25px 0 2px;
  position: relative;
}
.menu_frame_inr {
  background: var(--color-text);
  border-radius: 20px 0 20px 0;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.menu_img_box {
  flex: 3;
  position: relative;
}

/* 이미지 앞뒤 */
.menu_inr_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu_inr_img_back {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s linear;
}
.menu_frame:hover .menu_inr_img_back {
  opacity: 1;
}
/* 장바구니 아이콘 */
.menu_sale {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-accent);
  border-radius: 0 0 20px 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: var(--color-text);
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  z-index: 10;
}

.cart_frame {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  text-align: center;
  transition: all 0.3s linear;
}
.cart_icon {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  opacity: 0;
}
.cart_icon .cart_icon_img {
  font-size: 1.2rem;
  line-height: 50px;
  color: var(--color-accent);
  transition: all 0.2s linear;
}
.cart_icon_img:hover {
  transform: scale3d(1.09, 1.09, 1.09);
}
.menu_frame:hover .cart_icon {
  opacity: 1;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 100%;
}
.menu_txt {
  flex: 1;
  margin: 0.5rem 0;
  padding: 2rem 0.5rem;
  color: var(--color-primary-variant);
}
.menu_txt_title {
  font-size: 1.2rem;
}
.menu_txt_tag {
  padding-bottom: 1.2rem;
}
/* 토핑 베이커리 세트 굿즈*/
.topping,
.bakery,
.set,
.goods {
  display: none;
}
/* 배너 */
#greek_banner {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(-90deg, transparent, #d3e3fd);
  transition: 0.5s;
}
#greek_banner.active {
  background: linear-gradient(-90deg, transparent, #ffe1eb);
}

.greek_banner {
  width: 100%;
  height: 100%;
  position: relative;
}
.banner_slide {
  width: 100%;
  height: 350px;
  display: flex;
  margin-top: 8rem;
  overflow: hidden;
}
#banner_arrow_btn {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 9;
}
.banner_slide1,
.banner_slide2 {
  flex: 1 0 100%;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.banner_metadata {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 5rem 0;
}
.banner_txt {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.7;
  display: block;
}
.banner_txt2 {
  display: block;
}

.banner_img {
  flex: 1.6;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.banner_img_middle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) scale(1.1);
  opacity: 0;
}
.banner_img_bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%) scale(1.1);
  opacity: 0;
}
.banner_img_middle.animate,
.banner_img_bottom.animate,
.banner2_img_middle.animate,
.banner2_img_bottom.animate {
  opacity: 1;
  animation: slideup 1.5s ease;
}
/* 브랜드 */
#brand {
  width: 100%;
}
.brand_container {
}
.brand_title {
  color: var(--color-accent-variant);
}
.brand_title::before,
.brand_title::after {
  width: 250px;
  height: 2px;
  background: var(--color-accent-variant);
}
.brand_inr_wrap {
  margin-top: 1rem;
  max-height: 760px;
  display: flex;
  border-radius: 23px 0px 23px 0;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 0px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
}
.brand_inr_images {
  flex: 1.6;
  display: flex;
  flex-wrap: wrap;
}
.brand_inr_img_left {
  width: 100%;
  height: 50%;
}
.brand_inr_img_left > img,
.brand_inr_img_left > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.brand_inr_img1,
.brand_inr_img2 {
  flex: 1 0 50%;
  width: 50%;
}
.brand_inr_img3 {
  flex: 2 0 100%;
}
.brand_metadata {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  padding: 5rem 3rem;
}
/* 동그라미 백그라운드 */
.brand_cirle {
  width: 260px;
  animation: circle infinite 6s linear 0.5s alternate;
  animation-direction: reverse;
  position: relative;
}

.brand_metadata_txt {
  color: var(--color-primary-variant);
  font-size: 1.2rem;
  line-height: 180%;
  margin-top: 3rem;
  font-family: 500;
}
.brand_metadata_txt_strong {
  font-size: 1.5rem;
  color: var(--color-accent);
  font-weight: 600;
}
/* 브랜드 바로가기 버튼 */
.brand_btn {
  margin: 2.5rem 0;
  color: var(--color-primary);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(127, 127, 127, 0.3) 4px 4px 6px;
  border: 2px solid #b4b4b4;
  font-size: 15px;
  padding: 1rem 1.8rem;
  font-weight: 600;
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 235px;
}
.brand_btn_pointer {
  position: absolute;
  display: block;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(75, 130, 245, 0.33)
  );
  transition: all 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  z-index: -1;
}
.brand_btn:hover {
  z-index: 1;
  .brand_btn_pointer {
    width: 225%;
    height: 225%;
    z-index: -1;
  }
}
/* parter */
#partner {
  width: 100%;
}
.partner {
  width: 100%;
  height: 100%;
  margin: auto;
}
.partner_title {
  color: var(--color-primary-variant);
}
.partner_title::before,
.partner_title::after {
  width: 170px;
  height: 2px;
  background: var(--color-primary-variant);
}
.partner_container {
  margin: auto;
  padding: 2rem 0;
}
.partner_wrap {
  display: flex;
  align-items: center;
  gap: 7rem;
}
.partner_wrap_list {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  opacity: 0;
}
.partner_wrap_list:hover {
  transform: translateY(-1rem);
}
.partner_wrap_list.animate {
  opacity: 1;
  animation: trans 1.5s ease;
}

.partner_wrap_list_inr {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 15px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 0px solid rgba(255, 255, 255, 0.18);
  border-radius: 23px 23px 0 0;
  overflow: hidden;
}
.partner_wrap_list_inr_img {
  object-fit: cover;
}
.partner_wrap_list_inr_txt {
  min-height: 200px;
  text-align: center;
  padding: 3rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.partner_btn_wrap {
  width: 100%;
  padding: 3rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 파트너회사 */
.partner_company {
  width: 100%;
  height: 100%;
}

.partner_company_all {
  width: 100%;
  height: 100%;
  position: relative;
}
.partner_company_all:before,
.partner_company_all:after {
  content: "";
  display: block;
  width: 120px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 16;
}
.partner_company_all:before {
  left: 0;
  background: linear-gradient(90deg, #fff, transparent);
}
.partner_company_all:after {
  right: 0;
  background: linear-gradient(-90deg, #fff, transparent);
}
.partner_company_wrap {
  margin: 2rem auto;
  display: flex;
  gap: 1.5rem;
  position: relative;
  overflow: hidden;
}
.partner_company_list {
  flex: 1 0 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: #eaeaea;
  box-shadow: rgba(10, 10, 15, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  animation: marquee 60s linear infinite;
}
/* SNS */
#grk_sns {
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(75, 130, 245, 0.33),
    var(--color-text)
  );
}
.grk_sns {
  width: 100%;
  height: 100%;
  text-align: center;
}
.grk_sns_title {
  padding-bottom: 1rem;
}
.grk_sns_title::before,
.grk_sns_title::after {
  width: 210px;
  height: 2px;
  background: rgba(75, 130, 245, 1);
}
.grk_sns_txt {
  transition: all 0.3s ease;
}
.grk_sns_txt:hover {
  color: var(--color-accent);
}
.grk_sns_inr {
  width: 100%;
  height: 100%;
  padding: 0 0 6rem 0;
  margin: 4rem 0 0 0;
}
.grk_sns_inr_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}
.grk_sns_inr_wrap_list {
  flex: 1 0 20%;
  padding: 0;
  overflow: hidden;
}
.grk_sns_inr_wrap_list figure {
  width: 250px;
  height: 250px;
}
.grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.grid-img:hover {
  transform: scale3d(1.09, 1.09, 1.09);
}
/* footer */
#footer {
  background: rgba(75, 130, 245, 0.33);
}
.footer {
  color: rgba(75, 130, 245, 1);
  cursor: default;
}
.footer_top {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border: 1px solid rgb(68, 127, 255);
  border-left: 0;
  border-right: 0;
}
.footer_icon {
  width: 68px;
}

.footer_top_title {
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}
.footer_top_txt,
.footer_middle_txt {
  padding-bottom: 0.5rem;
}
.footer_top_wrap a {
  color: var(--color-accent);
}
.footer_top_wrap a:hover {
  text-decoration: underline;
}
.footer_middle {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 2rem 0 5rem 0;
}
/* 애니메이션 */
/* 정기배송트럭 */
@keyframes slideleft {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes moving {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
/* 동그라미 백그라운드 */
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0%) translateZ(0);
  }
  100% {
    transform: translateX(-400%) translateZ(0);
  }
}
/* 배너 아래서 위로 */
@keyframes slideup {
  0% {
    margin-top: 10%;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
/* 파트너 아래서 위로 */
@keyframes trans {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* media query */

/* 태블릿 : 768px ~ 1023px */
@media screen and (max-width: 1023px) {
  /* common */
  .section {
    padding: 0 2rem;
  }
  .arrow_btn_left {
    transform: translateX(-35px);
  }
  .arrow_btn_right {
    transform: translateX(30px);
  }
  .brand_btn {
    margin: 2rem 0 3rem 0;
    font-size: 14px;
    padding: 0.8rem 1.2rem;
  }
  /* header */
  .header2 {
    display: none;
  }
  .menu_icon {
    display: block;
  }
  /* main */
  .main_content1 {
    padding-top: 3rem;
  }
  .main_content_title {
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }
  .main_content_txt1 {
    display: none;
  }

  /* product */
  .menu_frame {
    flex: 1 0 34%;
  }
  /* 배너 */
  #greek_banner {
  }
  .banner_slide {
    height: 85vh;
  }
  .banner_slide1,
  .banner_slide2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .banner_metadata {
    text-align: center;
    padding-bottom: 3rem;
  }
  .banner_txt {
    line-height: 2;
  }
  .banner_img {
    flex: 4;
    overflow: visible;
  }
  .partner_wrap {
    gap: 2rem;
  }
  .partner_company_list {
    flex: 1 0 20%;
  }

  /* footer */
  .footer_top {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }
  .footer_icon {
  }
  .footer_top_wrap:last-child {
    display: none;
  }
  .footer_middle_txt span:nth-child(1) {
    display: block;
    padding-bottom: 1rem;
  }
}

/* 모바일 : ~ 768px */
@media screen and (max-width: 768px) {
  /* brand */
  .brand_inr_wrap {
    flex-direction: column;
    height: 100vh;
  }
  .brand_inr_images {
    flex: 1;
  }
  .brand_inr_img1,
  .brand_inr_img2 {
    flex: 1;
    width: 100%;
  }
  .brand_inr_img3 {
    flex: 1 0 100%;
  }
  .brand_inr_img_left {
    flex: 1;
    height: 100%;
  }
  .brand_metadata {
    padding: 2rem 3rem;
  }
  .brand_cirle {
    width: 170px;
  }
  .brand_metadata_txt {
    margin-top: 1rem;
  }
  .grk_sns_inr {
  }
  .grk_sns_inr_wrap {
    width: 100%;
    height: 600px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .grk_sns_inr_wrap_list {
    flex: 1 0 38%;
  }
}
